<%- include ('partials/header') %> 
<div class="main">
    <h1 id="tag_line"><span>Friendicials</span> Connecting World</h1>
    <h3 id="slogan">A New World Is Rising</h3>
    <p id="slogan">Let’s Discover It</p>
    <div class="btns">
        <a href="/post"class="ui inverted standard basic button">Get Started</a>
    </div>
</div>
<%- include ('partials/footer') %> 